.edit {
  height: calc(100vh - 80px);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1e1e1e;
}

.edit__form {
  display: flex;
  flex-direction: column;
  background-color: #181818;
  height: 400px;
  padding: 30px;
  justify-content: space-around;
  color: white;
}

.edit__form__field {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  width: 300px;
}

.edit__form__field label {
  font-size: 32px;
}

.edit__form__field input {
  height: 32px;
  padding-left: 10px;
  font-size: 16px;
}

.edit__form__field textarea {
  padding: 5px 10px;
  font-size: 16px;
}

.edit__form__button {
  height: 32px;
  background-color: rgb(59, 168, 59);
  border: 0;
}

.edit__form__button:disabled {
  background-color: lightgray;
}

.edit__form__button:hover {
  cursor: pointer;
}
.edit__form__field__error {
  height: 24px;
}
