.homepage {
  min-height: calc(100vh - 80px);
  background-color: #1e1e1e;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100vw;
  color: white;
}
